img.img {
    margin: 0 auto;
}

div.prawy {
    width:25%;
    float: right;
    text-align: right;
}

div.lewy {
  width:25%;
    float: left;
    text-align: left;
}

div.mid {
    width:100%;
    float: center;
    text-align: center;
}

p.checkbox {
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-left: 30px;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

button.Llosuj {
  text-align: center;
  float: left;
}

button.Plosuj {
	text-align: center;
  float: right;
}

button.check {
  text-align: center;
  float: center;
}

body {
  background-size: 100%, 100%;
}
